
      /* STYLE DO NAV */


/* Importa a fonte "Poppins" do Google Fonts, com os pesos 300, 400, 500 e 600 */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

/* Reset básico de estilo e configuração global */
* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif; /* Fonte padrão */
        }

        /* Definição de cores para a primeira parte */
        :root {
            --body-color: #E4E9F7; /* Cor de fundo do corpo */
            --nav-color: #46a6f6; /* Cor de fundo do navbar */
            --side-nav: #010718; /* Cor de fundo do menu lateral */
            --text-color: #FFF; /* Cor padrão do texto */
            --search-bar: #F2F2F2; /* Cor de fundo da barra de pesquisa */
            --search-text: #010718; /* Cor do texto da barra de pesquisa */
        }

        /* Estilos para o corpo da página */
        body.theme-one {
            height: 100vh;
            background-color: var(--body-color); /* Usa a variável de cor de fundo definida para o corpo */
        }

        /* ===== Segunda parte do CSS ===== */

        /* Reset global */
        * {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }

        /* Definição de cores para a segunda parte */
        :root {
            --primary: #111926;
            --primary-hover: #1c2533;
            --bg: #F7F8F9;
            --secondary: #FEFFFF;
            --dropzone-bg: #fff;
            --gray: #D3D3D3;
            --border: #EDF1F3;
            --dropzone-border: #D4DCE6;
            --headline: #211E30;
            --text: #0a090c;
            --primary-text: #F2F7FE;
            --dropzone-over: #F2F7FE;
        }

        /* Estilos para o body da segunda parte */
        body.theme-two {
            font-family: 'Work Sans', sans-serif;
            background: var(--bg);
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            padding: 1rem;
            color: var(--text);
        }

/* Tema escuro para o corpo da página */
body.dark {
    --body-color: #18191A; /* Cor de fundo para o modo escuro */
    --nav-color: #242526; /* Cor do navbar no modo escuro */
    --side-nav: #242526; /* Cor do menu lateral no modo escuro */
    --text-color: #CCC; /* Cor do texto no modo escuro */
    --search-bar: #242526; /* Cor da barra de pesquisa no modo escuro */
}

/* Estilos para o navbar */
nav {
    position: fixed top; /* Fixa o navbar no topo da tela */
    top: 0; /* Alinha o navbar no topo */
    left: 0; /* Alinha o navbar à esquerda */
    height: 80px; /* Altura do navbar */
    width: 100%; /* Largura total da tela */
    background-color: var(--nav-color); /* Cor de fundo do navbar */
    z-index: 100; /* Coloca o navbar acima de outros elementos */
}

/* Borda para o navbar no modo escuro */
body.dark nav {
    border: 1px solid #393838; /* Define uma borda para o navbar no modo escuro */
}

/* Container interno do navbar */
nav .nav-bar {
    position: relative; /* Necessário para posicionamento de elementos filhos */
    height: 100%; /* Altura total do container do navbar */
    max-width: 1000px; /* Largura máxima do container */
    width: 100%; /* Largura total da tela */
    background-color: var(--nav-color); /* Cor de fundo */
    margin: 0 auto; /* Centraliza o container */
    padding: 0 30px; /* Adiciona padding horizontal */
    display: flex; /* Exibe elementos filhos em linha */
    align-items: center; /* Alinha os elementos verticalmente no centro */
    justify-content: space-between; /* Distribui espaço igualmente entre os elementos */
}

/* Ícone para abrir o menu lateral no navbar */
nav .nav-bar .sidebarOpen {
    color: var(--text-color); /* Cor do ícone */
    font-size: 25px; /* Tamanho da fonte do ícone */
    padding: 5px; /* Padding ao redor do ícone */
    cursor: pointer; /* Mostra um cursor de mão */
    display: none; /* Esconde o ícone por padrão */
}

/* Estilo para o logo no navbar */
nav .nav-bar .logo a {
    font-size: 25px; /* Tamanho da fonte do logo */
    font-weight: 500; /* Espessura do texto */
    color: var(--text-color); /* Cor do logo */
    text-decoration: none; /* Remove o sublinhado do link */
}

/* Logo e ícone de alternância de menu para navegação lateral */
.menu .logo-toggle {
    display: none; /* Esconde o logo-toggle por padrão */
}

/* Container para os links de navegação */
.nav-bar .nav-links {
    display: flex; /* Exibe links em linha */
    align-items: center; /* Alinha os links verticalmente no centro */
}

/* Estilos para cada item da lista de links */
.nav-bar .nav-links li {
    margin: 0 5px; /* Adiciona uma margem horizontal entre os itens */
    list-style: none; /* Remove os marcadores de lista */
}

/* Estilos para os links */
.nav-links li a {
    position: relative; /* Necessário para posicionar o ponto de destaque */
    font-size: 17px; /* Tamanho da fonte do link */
    font-weight: 400; /* Espessura do texto do link */
    color: var(--text-color); /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado do link */
    padding: 10px; /* Padding ao redor do link */
}

/* Ponto de destaque sob o link */
.nav-links li a::before {
    content: ''; /* Cria um elemento vazio */
    position: absolute; /* Posiciona o ponto relativo ao link */
    left: 50%; /* Centraliza horizontalmente */
    bottom: 0; /* Posiciona na base do link */
    transform: translateX(-50%); /* Ajusta a posição para centralizar */
    height: 6px; /* Altura do ponto */
    width: 6px; /* Largura do ponto */
    border-radius: 50%; /* Torna o ponto circular */
    background-color: var(--text-color); /* Cor do ponto */
    opacity: 0; /* Esconde o ponto inicialmente */
    transition: all 0.3s ease; /* Transição suave ao aparecer */
}

/* Exibe o ponto de destaque ao passar o mouse sobre o link */
.nav-links li:hover a::before {
    opacity: 1; /* Torna o ponto visível */
}

/* Container para alternância entre modo escuro e barra de pesquisa */
.nav-bar .darkLight-searchBox {
    display: flex; /* Exibe elementos em linha */
    align-items: center; /* Alinha verticalmente no centro */
}

/* Botões de alternância de modo e pesquisa */
.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
    height: 40px; /* Altura do botão */
    width: 40px; /* Largura do botão */
    display: flex; /* Exibe ícone no centro */
    align-items: center; /* Alinha verticalmente no centro */
    justify-content: center; /* Alinha horizontalmente no centro */
    margin: 0 5px; /* Margem entre os botões */
}

/* Ícones dentro dos botões */
.dark-light i,
.searchToggle i {
    position: absolute; /* Posiciona relativo ao botão */
    color: var(--text-color); /* Cor do ícone */
    font-size: 22px; /* Tamanho do ícone */
    cursor: pointer; /* Mostra cursor de mão */
    transition: all 0.3s ease; /* Transição suave para alternância */
}

/* Ícone do sol invisível por padrão */
.dark-light i.sun {
    opacity: 0; /* Esconde o ícone */
    pointer-events: none; /* Desabilita interação */
}

/* Ativa o ícone de sol e desativa o de lua ao alternar para modo claro */
.dark-light.active i.sun {
    opacity: 1; /* Exibe o ícone */
    pointer-events: auto; /* Habilita interação */
}

.dark-light.active i.moon {
    opacity: 0; /* Esconde o ícone de lua */
    pointer-events: none; /* Desabilita interação */
}


/* Ícone de "cancelar" na barra de pesquisa fica invisível por padrão */
.searchToggle i.cancel {
    opacity: 0; /* Esconde o ícone de cancelar */
    pointer-events: none; /* Desabilita a interação */
}

/* Quando a barra de pesquisa está ativa, exibe o ícone de cancelar e esconde o ícone de pesquisa */
.searchToggle.active i.cancel {
    opacity: 1; /* Exibe o ícone de cancelar */
    pointer-events: auto; /* Habilita a interação */
}

.searchToggle.active i.search {
    opacity: 0; /* Esconde o ícone de pesquisa */
    pointer-events: none; /* Desabilita a interação */
}

/* Posiciona e define o estilo da barra de pesquisa */
.searchBox {
    position: relative; /* Necessário para posicionamento dos elementos internos */
}

/* Campo de pesquisa que aparece ao clicar no ícone de pesquisa */
.searchBox .search-field {
    position: absolute; /* Posiciona o campo de pesquisa relativo ao container */
    bottom: -85px; /* Posiciona abaixo do ícone de pesquisa */
    right: 5px; /* Alinha o campo de pesquisa à direita */
    height: 50px; /* Altura do campo de pesquisa */
    width: 300px; /* Largura do campo de pesquisa */
    display: flex; /* Exibe os elementos internos em linha */
    align-items: center; /* Alinha o conteúdo verticalmente no centro */
    background-color: var(--nav-color); /* Cor de fundo do campo */
    padding: 3px; /* Padding interno */
    border-radius: 6px; /* Bordas arredondadas */
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); /* Sombra para o campo */
    opacity: 0; /* Esconde o campo por padrão */
    pointer-events: none; /* Desabilita a interação */
    transition: all 0.3s ease; /* Transição suave para exibir/esconder */
}

/* Exibe o campo de pesquisa quando a barra de pesquisa está ativa */
.searchToggle.active ~ .search-field {
    bottom: -74px; /* Ajusta a posição do campo */
    opacity: 1; /* Torna o campo visível */
    pointer-events: auto; /* Habilita a interação */
}

/* Estiliza a seta decorativa abaixo do campo de pesquisa */
.search-field::before {
    content: ''; /* Cria um elemento vazio */
    position: absolute; /* Posiciona a seta relativa ao campo */
    right: 14px; /* Alinha a seta à direita */
    top: -4px; /* Posiciona a seta acima do campo */
    height: 12px; /* Altura da seta */
    width: 12px; /* Largura da seta */
    background-color: var(--nav-color); /* Cor da seta */
    transform: rotate(-45deg); /* Rotaciona para formar uma seta */
    z-index: -1; /* Posiciona a seta atrás do campo */
}

/* Campo de entrada de texto na barra de pesquisa */
.search-field input {
    height: 100%; /* Altura completa do campo de entrada */
    width: 100%; /* Largura completa do campo de entrada */
    padding: 0 45px 0 15px; /* Padding interno no campo */
    outline: none; /* Remove a borda de foco padrão */
    border: none; /* Remove bordas */
    border-radius: 4px; /* Bordas arredondadas */
    font-size: 14px; /* Tamanho da fonte */
    font-weight: 400; /* Espessura do texto */
    color: var(--search-text); /* Cor do texto */
    background-color: var(--search-bar); /* Cor de fundo do campo */
}

/* Muda a cor do texto no modo escuro */
body.dark .search-field input {
    color: var(--text-color); /* Define a cor do texto no modo escuro */
}

/* Ícone dentro da barra de pesquisa */
.search-field i {
    position: absolute; /* Posiciona o ícone dentro do campo */
    color: var(--nav-color); /* Cor do ícone */
    right: 15px; /* Alinha o ícone à direita */
    font-size: 22px; /* Tamanho do ícone */
    cursor: pointer; /* Mostra o cursor de mão */
}

/* Ícone no modo escuro */
body.dark .search-field i {
    color: var(--text-color); /* Define a cor do ícone no modo escuro */
}

/* Estilos de responsividade para telas menores que 790px */
@media (max-width: 790px) {
    /* Mostra o ícone de abrir o menu lateral no navbar */
    nav .nav-bar .sidebarOpen {
        display: block; /* Torna o ícone visível em telas pequenas */
    }

    /* Menu lateral em telas pequenas */
    .menu {
        position: fixed; /* Fixa o menu lateral na tela */
        height: 100%; /* Altura completa da viewport */
        width: 320px; /* Largura do menu lateral */
        left: -100%; /* Oculta o menu lateral fora da tela */
        top: 0; /* Alinha o menu ao topo */
        padding: 20px; /* Padding interno */
        background-color: var(--side-nav); /* Cor de fundo do menu */
        z-index: 100; /* Coloca o menu acima de outros elementos */
        transition: all 0.4s ease; /* Transição suave para exibir/esconder */
    }

    /* Exibe o menu lateral quando o navbar está ativo */
    nav.active .menu {
        left: 0; /* Move o menu para dentro da tela */
    }

    /* Esconde o logo do navbar quando o menu lateral está ativo */
    nav.active .nav-bar .navLogo a {
        opacity: 0; /* Torna o logo invisível */
        transition: all 0.3s ease; /* Transição suave ao esconder */
    }

    /* Ícone de fechar o menu lateral */
    .menu .logo-toggle {
        display: block; /* Torna o ícone visível */
        width: 100%; /* Largura total do menu */
        display: flex; /* Exibe ícone de fechar e logo em linha */
        align-items: center; /* Alinha verticalmente no centro */
        justify-content: space-between; /* Espaço entre ícone de fechar e logo */
    }

    /* Ícone de fechar o menu lateral */
    .logo-toggle .siderbarClose {
        color: var(--text-color); /* Cor do ícone */
        font-size: 24px; /* Tamanho do ícone */
        cursor: pointer; /* Mostra o cursor de mão */
    }

    /* Links de navegação no menu lateral */
    .nav-bar .nav-links {
        flex-direction: column; /* Organiza links verticalmente */
        padding-top: 30px; /* Espaço acima dos links */
    }

    /* Exibe links em blocos com margem superior */
    .nav-links li a {
        display: block; /* Exibe cada link como um bloco */
        margin-top: 20px; /* Espaço entre os links */
    }
}
/* FIM STYLE NAV */






h1 {
  color: #000; /* Cor do texto no modo claro */
}

/* Modo Escuro */
body.dark h1 {
  color: #fff; /* Cor do texto no modo escuro */
}



.container {
    max-width: 1100px;
    margin: auto;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: all 0.4s ease; /* Aplica transição suave para todos */
    transition-property: max-width, margin, background, border-radius, box-shadow; /* Exclui padding da transição */
}

.container {
    transition: padding 0s; /* Transição instantânea para o padding */
}


.top-bar {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}

.search-bar {
    flex: 1;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.status-dropdown {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.total {
    margin-left: auto;
    font-weight: bold;
}

.form-section {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
}

.professional-form {
    display: flex;
    gap: 20px;
}

.left-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.space {
    width: 150px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
}

.right-section {
    flex: 1;
}

.right-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.right-section input,
.right-section select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.toggle-options {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}



/* BOTAO CONFIRMAR CADASTRO */ 
.btn {
  position: relative;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 2em;
  display: inline-block;
  cursor: pointer;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  
  color: black; /* Texto branco */
  background-color: #2fb8ac; /* Fundo escuro */
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}


/* Modo escuro */
body.dark .btn {
  color: black;
  background-color: white;
}

body.dark .btn:hover {
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); /* Sombra suave no modo escuro */
}

body.dark .btn:active {
  box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

body.dark .btn::after {
  background-color: #333; /* Cor de fundo do pseudo-elemento no modo escuro */
}


.form-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* .last-access {
    margin-top: 20px;
} */

select.estados {
    width: 150px !important;
}

div.pequeno {
    width: 150px;
}

div.nome {
    display: flex; 
    gap: 10px; 
    width: 1000px;
}

label.pequeno {
    width: 150px;
}

input.pequeno {
    width: 150px;
}

.input-container {
    display: flex;
    align-items: center;
}

.ddd {
    margin-right: 5px; /* Espaço entre o prefixo e o campo de entrada */
    font-weight: bold; /* Estilo opcional */
}


.content {
    padding-top: 50px; /* Ajuste esse valor de acordo com a altura do nav */
    transition: all 0.4s ease; /* Aplica uma transição suave de 0.4s para todas as mudanças de estilo */
}


.btnn {
  transition: all 0.3s ease-in-out;
  font-family: "Dosis", sans-serif;
}

.btnn {
  width: 70px;
  height: 40px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #2fb195 0%, #2fb195 100%);
  box-shadow: 0 20px 30px -6px rgba(#2fb195);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: black;
}

.btne {
  width: 70px;
  height: 40px;
  border-radius: 50px;
  background-image: linear-gradient(135deg, #e82929 0%, #e82929 100%);
  box-shadow: 0 20px 30px -6px rgba(#e82929);
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  color: black;
}

.btnn:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btne:hover {
  transform: translateY(3px);
  box-shadow: none;
}

.btnn:active {
  opacity: 0.5;
}

.btne:active {
  opacity: 0.5;
}


/* Estilo padrão (modo claro) */

/* Modo escuro, ativado quando o <body> tem a classe .dark */
body.dark {
    background-color: #121212;
    color: #e0e0e0;
}

body.dark .container {
    background: #1e1e1e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body.dark .form-section {
    background: #1e1e1e;
}

body.dark .search-bar,
body.dark .status-dropdown,
body.dark .right-section input,
body.dark .right-section select,
body.dark .btn-toggle {
    background: #333;
    color: #e0e0e0;
    border: 1px solid #444;
}



body.dark .btn-primary {
    background-color: #357a38;
}

body.dark .btn-secondary {
    background-color: #0099cc;
}

body.dark .btn-danger,
body.dark .btn-delete {
    background-color: #cc4f3e;
}

body.dark .btn-add {
    background-color: #006bb3;
}

body.dark .btn-toggle {
    background: #444;
    color: #ccc;
    border: 1px solid #555;
}

body.dark .btn-toggle.active {
    background: #357a38;
    color: #fff;
}

body.dark select.estados,
body.dark .input-container .ddd {
    color: #e0e0e0;
}

body.dark .btnn {
    background-image: linear-gradient(135deg, #2fb195 0%, #2fb195 100%);
    color: white;
}

body.dark .btne {
    background-image: linear-gradient(135deg, #e82929 0%, #e82929 100%);
    color: white;
}

body.dark .content {
    padding-top: 50px;
}

/* Estilos para hover e active no modo escuro */
body.dark .btnn:hover, 
body.dark .btne:hover {
    transform: translateY(3px);
    box-shadow: none;
}

body.dark .btnn:active, 
body.dark .btne:active {
    opacity: 0.7;
}



.dropzone-box {
    border-radius: 1rem;
    min-width: 25rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 36rem;
    border: 1px solid var(--border);
    width: 100%;
    background: var(--dropzone-bg);
}

.dropzone-box h2 {
    font-size: 1.4rem;
    margin-bottom: 0.6rem;
    color: var(--headline);
}

.dropzone-box p {
    font-size: 1.15rem;
    color: var(--gray);
}

.dropzone-area {
    padding: 1rem;
    position: relative;
    margin-top: 1.5rem;
    min-height: 16rem; /* Mantém o tamanho vertical */
    width: 600px; /* Tamanho horizontal reduzido */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px dashed var(--dropzone-border);
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
}


.dropzone-description {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}

.dropzone-area .file-info {
    font-size: 1.1rem;
}

.dropzone-area [type="file"] {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.dropzone-area .file-upload-icon svg {
    height: 6rem;
    max-width: 6rem;
    width: 100%;
    margin-bottom: 0.5rem;
    stroke: var(--headline);
}

.dropzone-area:hover {
    background: var(--dropzone-over);
}

.dropzone--over {
    border: 2px solid var(--primary);
    background: var(--dropzone-over);
}

.dropzone-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.dropzone-actions button {
    flex-grow: 1;
    min-height: 3rem;
    font-size: 1.2rem;
    border: none;
    transition: background 0.3s ease;
}

.dropzone-help {
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropzone-actions button[type='reset'] {
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--text);
    background: var(--secondary);
    cursor: pointer;
    border: 1px solid var(--dropzone-border);
    transition: all 0.3s ease;
}

.dropzone-actions button[type='reset']:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.dropzone-actions button[type='submit'] {
    background: var(--primary);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    color: var(--primary-text);
    border: none;
    cursor: pointer;
}

.dropzone-actions button[type='submit']:hover {
    background: var(--primary-hover);
}

.action-buttons {
    display: flex;
    gap: 0.5rem;
    max-width: 12rem;
}

.file{
    * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #111926;
    --primary-hover: #1c2533;
    --bg: #F7F8F9;
    --secondary: #FEFFFF;
    --dropzone-bg: #fff;
    --gray: #D3D3D3;
    --border: #EDF1F3;
    --dropzone-border: #D4DCE6;
    --headline: #211E30;
    --text: #0a090c;
    --primary-text: #F2F7FE;
    --dropzone-over: #F2F7FE;
}

body {
    font-family: 'Work Sans', 
    sans-serif;
    background: var(--bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1rem;
    color: var(--text);
}

*::selection {
    background: var(--primary);
    color: var(--primary-text);
}
}

button {
  height: 40px;
  width: 500px;
  color: #000;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #3494ee;
}

button:hover {
  background: #91bcfa;
}

/* Estilo para o botão vermelho */
button.vermelho {
  height: 40px;
  width: 500px;
  color: #fff;  /* Cor do texto, branco para contrastar com o vermelho */
  font-size: 1rem;
  font-weight: 400;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #f02f22;  /* Cor vermelha */
}

/* Estilo para o efeito de hover no botão vermelho */
button.vermelho:hover {
  background: #e74c3c;  /* Tom de vermelho mais claro para o efeito hover */
}

.form-buttons button {
        margin-right: 40px;
    }

    .form-buttons button:last-child {
        margin-right: 0;
    }